/* google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Bebas+Neue&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300&display=swap');

/* google fonts link */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html,
body {
   width: 100%;
   height: 100%;
}



/* navigation bar */
header {
   width: 100%;

}

header nav {
   width: 100%;
   height: 10vh;
   /* background: red; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
}

nav ul {
   display: flex;
   align-items: center;
   gap: 5vh;
}

nav ul li {
   list-style: none;
   font-size: 16px;
}

nav ul li a {
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   color: #111;
}

nav div.logo {
   font-size: 30px;
   font-weight: 600;
   letter-spacing: 1px;
}

nav div.logo span {
   color: rgb(227, 46, 24);
}

nav .login {
   padding: 1.5vh;
   border: 1px solid #878787;
   border-radius: 10px;
   font-weight: 600;
}

nav .login:hover {
   padding: 1.5vh;
   border: 1px solid rgb(192, 34, 34);
   border-radius: 10px;
   font-weight: 600;
   color: rgb(192, 34, 34);
   background: rgb(234, 224, 223);
}

nav .signup {
   padding: 1.5vh;
   border: 1px solid #111;
   color: #fff;
   border-radius: 10px;
   background: #111;
   font-weight: 600;
}

nav .signup:hover {
   padding: 1.5vh;
   border: 1px solid rgb(192, 34, 34);
   color: #fff;
   border-radius: 10px;
   background: rgb(192, 34, 34);
   font-weight: 600;
}

/* navigation bar */







/* section1  */
#section1 {
   width: 100%;
}

#section1 .section1-container {
   width: 100%;
   height: 120vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
}

.section1-container .left-box {
   /* border: #111 solid 2px; */
   width: 40%;
   /* height: 40%; */
}

.section1-container .left-box h1 {
   font-size: 50px;
}

.section1-container .left-box p {
   padding: 5vh 0;
}

.section1-container .left-box div a {
   text-decoration: none;
   padding: 1.5vh 2vh;
   margin-right: 2vh;
   border-radius: 10px;
   /* transition: .2s; */
   font-weight: 600;
}

.section1-container .left-box div a:nth-child(2) {
   border: 1px solid #878787;
   color: #111;
}

.section1-container .left-box div a:nth-child(2):hover {
   border: 1px solid rgb(192, 34, 34);
   background: rgb(234, 224, 223);
   color: rgb(192, 34, 34);
}

.section1-container .left-box div a:nth-child(1) {
   border: 1px solid #111;
   background: #111;
   color: #fff;
}

.section1-container .left-box div a:nth-child(1):hover {
   border: 1px solid rgb(192, 34, 34);
   background: rgb(192, 34, 34);
}

.section1-container .right-box {
   /* border: #111 solid 2px; */
   width: 50%;
   /* height: 40%; */
}

/* section1  */
.my-box {
   margin: 1rem;
}
















/* section2 */

#section2 {
   padding: 0 15vh;
   margin-top: 17vh;
}

.contact {
   width: 100%;
   padding: 3vh;
   display: flex;
   align-items: center;
   gap: 2vh;
   justify-content: space-between;
   border: 1px solid #878787;
   border-radius: 5px;
}

#section2 .contact form input {
   width: 52vw;
   height: 8vh;
   padding: 0 5vh;
   border-radius: 5px;
   outline: none;
   border: none;
   border: 1px solid #878787;
}

#section2 .contact form button[type=submit] {
   padding: 2vh 1.5vh;
   outline: none;
   border: none;
   background: #111;
   color: #fff;
   margin-left: 3vh;
   border-radius: 5px;
   font-weight: 600;
}

#section2 .contact form button[type=submit]:hover {
   background: rgb(192, 34, 34);
   color: #fff;

}

#section2 .contact a {
   display: inline-block;
   padding: 2vh 1.5vh;
   border: 1px solid #878787;
   border-radius: 10px;
   text-decoration: none;
   color: #111;
   font-weight: 600;
}

#section2 .contact a:hover {
   background: rgb(234, 224, 223);
   border: 1px solid rgb(192, 34, 34);
   color: rgb(192, 34, 34);
   font-weight: 600;
}

#section2 .contact a .buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1vh;
}

#section2 .startups {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 5vh 0;
   color: #878787;
}

#section2 .startups p:nth-child(1) {
   width: 50%;
}

#section2 .startups a {
   /* text-decoration: none; */
   color: #878787;
}

#section2 .startups a:hover {
   color: blue;
}

/* section2 */


















/* section3 */
#section3 {
   width: 100%;
}

#section3 .boxes-container {
   width: 100%;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   padding: 0 15vh;
}

#section3 .boxes-container div {
   border-top: 1px solid #878787;
   /* border-bottom: 1px solid #878787; */
   width: 62vh;
   height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#section3 .boxes-container div h3 {
   font-size: 40px;
}

#section3 .boxes-container div h4 {
   font-size: 22px;

}

#section3 .boxes-container .first-box {
   color: blue;
}

#section3 .boxes-container .second-box {
   color: rgb(227, 46, 24);
   border-left: 1px solid #878787;
   border-right: 1px solid #878787;
}

#section3 .boxes-container .third-box {
   color: rgb(6, 82, 6);
}

#section3 .animated-img {
   border-top: 1px solid #878787;
   border-bottom: 1px solid #878787;
   /* width: 90vw; */
}

#mycrawler img {
   margin: 0 15vh;
}

/* section3 */
















/* section4 */
#section4 {
   width: 100%;
   margin: 20vh 0;
   height: 100%;
}

#section4 .section4-container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
   /* gap: 8vh; */
}

#section4 .section4-container .left-box img {
   width: 90%;
}

#section4 .section4-container .right-box {
   width: 60%;
}

#section4 .section4-container .right-box p {
   padding: 2vh 0;
   font-size: 14px;
   display: flex;
   align-items: center;
   gap: 2vh;
}

#section4 .section4-container .right-box h2 {
   font-size: 35px;
   width: 80%;
   margin-top: 3vh;
}

#section4 .section4-container .right-box div {
   width: 100%;
   margin-top: 6vh;
}

#section4 .section4-container .right-box div a {
   text-decoration: none;
   padding: 1.5vh;
   font-weight: 600;
   margin-top: 8vh;
}

#section4 .section4-container .right-box div a:nth-child(1) {
   color: #111;
   margin-right: 3vh;
   border: 1px solid #878787;
   border-radius: 10px;

}

#section4 .section4-container .right-box div a:nth-child(1):hover {
   color: rgb(192, 34, 34);
   border: 1px solid rgb(192, 34, 34);
   background: rgb(234, 224, 223);
}

#section4 .section4-container .right-box div a:nth-child(2) {
   color: #fff;
   background: #111;
   border: 1px solid #111;
   border-radius: 10px;
}

#section4 .section4-container .right-box div a:nth-child(2):hover {
   background: rgb(192, 34, 34);
   border: 1px solid rgb(192, 34, 34);
}

/* section4 */



















/* section5 */
#section5 {
   width: 100%;
   margin: 20vh 0;
   height: 100%;
}

#section5 .section5-container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
   gap: 15vh;
}

#section5 .section5-container .left-box img {
   width: 100%;
}

#section5 .section5-container .right-box {
   width: 50%;
}

#section5 .section5-container .right-box p {
   padding: 2vh 0;
   font-size: 14px;
   display: flex;
   align-items: center;
   gap: 2vh;
}

#section5 .section5-container .right-box h2 {
   font-size: 35px;
   width: 80%;
   margin-top: 3vh;
}

#section5 .section5-container .right-box div {
   width: 100%;
   margin-top: 6vh;
}

#section5 .section5-container .right-box div a {
   text-decoration: none;
   padding: 1.5vh;
   font-weight: 600;
   margin-top: 8vh;
}

#section5 .section5-container .right-box div a:nth-child(1) {
   color: #111;
   margin-right: 3vh;
   border: 1px solid #878787;
   border-radius: 10px;

}

#section5 .section5-container .right-box div a:nth-child(1):hover {
   color: rgb(192, 34, 34);
   border: 1px solid rgb(192, 34, 34);
   background: rgb(234, 224, 223);
}

#section5 .section5-container .right-box div a:nth-child(2) {
   color: #fff;
   background: #111;
   border: 1px solid #111;
   border-radius: 10px;
}

#section5 .section5-container .right-box div a:nth-child(2):hover {
 background: rgb(192, 34, 34);
   border: 1px solid rgb(192, 34, 34);
}

/* section5 */













/* section6 */
#section6 {
   margin: 40vh 0;
}

#section6>h3 {
   font-size: 35px;
   margin-bottom: 10vh;
   text-align: center;
}

#section6>p {
   font-weight: 600;
   text-align: center;
   margin: 4vh 0;
   letter-spacing: 2px;
}

#section6 .first-boxes {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
   gap: 5vh;
   font-size: 14px;
}

#section6 .first-boxes div {
   border: 1px solid #878787;
   padding: 6vh 9vh;
   width: 100%;
   height: 35vh;
}

#section6 .second-boxes {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 15vh;
   gap: 5vh;
   margin-top: 5vh;
   font-size: 14px;
}

#section6 .second-boxes div {
   border: 1px solid #878787;
   padding: 6vh 9vh;
   width: 100%;
   height: 30vh;
}

/* section6 */


















/* section7 */
#section7 {
   padding: 0 15vh;

}

#section7 .top-boxes {
   display: flex;
   border: 1px solid #878787;
   border-radius: 5px;
   align-items: center;
}

#section7 .top-boxes img {
   width: 50%;
}

#section7 .top-boxes .img-box {
   /* border: 2px solid #111; */
   width: 100%;
   height: 65vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffede5;
}

#section7 .top-boxes .featured {
   padding: 8vh;
}

#section7 .top-boxes .featured p {
   padding: 2vh 0;
}

#section7 .top-boxes .featured h4 {
   padding: 2vh 0;
   word-spacing: 5px;
   letter-spacing: 2px;
}

#section7 .top-boxes .featured h3 {
   font-size: 25px;
}

#section7 .top-boxes .featured a {
   display: inline-block;
   text-decoration: none;
   padding: 1.5vh;
   border: 1px solid #878787;
   border-radius: 10px;
   color: #111;
   font-weight: 600;
}

#section7 .top-boxes .featured a:hover {
   border: 1px solid rgb(192, 34, 34);
   background: rgb(234, 224, 223);
   color: rgb(192, 34, 34);
}




#section7 .bottom-boxes {
   display: flex;
   border: 1px solid #878787;
   border-radius: 5px;
   align-items: center;
   margin: 7vh 0;
}

#section7 .bottom-boxes img {
   width: 50%;
}

#section7 .bottom-boxes .img-box {
   /* border: 2px solid #111; */
   width: 116%;
   height: 65vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #eaebff;
}

#section7 .bottom-boxes .featured {
   padding: 8vh;
}

#section7 .bottom-boxes .featured p {
   padding: 3vh 0;
}

#section7 .bottom-boxes .featured h4 {
   padding: 2vh 0;
   word-spacing: 5px;
   letter-spacing: 2px;
}

#section7 .bottom-boxes .featured h3 {
   font-size: 25px;
}

#section7 .bottom-boxes .featured a {
   display: inline-block;
   text-decoration: none;
   padding: 1.5vh;
   border: 1px solid #878787;
   border-radius: 10px;
   color: #111;
   font-weight: 600;
}

#section7 .bottom-boxes .featured a:hover {
   border: 1px solid rgb(192, 34, 34);
   background: rgb(234, 224, 223);
   color: rgb(192, 34, 34);
}

/* section7 */
















/* section8 */
#section8 {
   width: 100%;
   height: 100vh;
   padding: 0 15vh;
   text-align: center;
   display: grid;
   place-items: center;
}

#section8 div h2 {
   font-size: 80px;
}

#section8 div h2 span {
   color: rgb(227, 46, 24);
}

#section8 div a {
   display: inline-block;
   margin-top: 7vh;
   padding: 2vh 5vh;
   background-color: #111;
   color: #fff;
   text-decoration: none;
   border-radius: 10px;
   font-weight: 600;
}

#section8 div a:hover {
   background: rgb(192, 34, 34);
   
}

/* section8 */














/* section9 */
#section9 {
   width: 100%;
   padding: 0 15vh;
}

#section9 .blogs {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 7vh 0;
}

#section9 .blogs h3 {
   font-size: 30px;
}

#section9 .blogs a {
   text-decoration: none;
   font-weight: 600;
   color: #111;
   padding: 1.5vh;
   border: 1px solid #878787;
   border-radius: 10px;
}

#section9 .blogs a:hover {
   background: rgb(234, 224, 223);
   color: rgb(192, 34, 34);
   border: 1px solid rgb(192, 34, 34);
}

.section9-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 3.5vh 0;
}

.section9-container .left-box {
   width: 49%;
   border: 1px solid #878787;
   height: 117vh;
   border-radius: 5px;
}

.section9-container .left-box .engineers {
   width: 100%;
   padding: 5vh 7vh;
}

.section9-container .left-box .engineers p {
   padding: 2vh 0;
   margin-bottom: 4vh;
}

.section9-container .left-box .engineers h3 {
   padding: 2vh 0;
   font-size: 22px;
}

.section9-container .left-box .engineers h4 {
   word-spacing: 5px;
   letter-spacing: 2px;
}

.section9-container .left-box .engineers a {
   text-decoration: none;
   color: #111;
   font-weight: 600;
   border: 1px solid #878787;
   border-radius: 10px;
   padding: 1vh 1.5vh;
}

.section9-container .left-box .engineers a:hover {
   border: 1px solid rgb(192, 34, 34);
   color: rgb(192, 34, 34);
   background: rgb(234, 224, 223);
}

.section9-container .right-box {
   width: 49%;
   border: 1px solid #878787;
   height: 117vh;
   border-radius: 5px;
}

.section9-container .right-box .engineers {
   width: 100%;
   padding: 5vh 7vh;
}

.section9-container .right-box .engineers p {
   padding: 2vh 0;
   margin-bottom: 4vh;
}

.section9-container .right-box .engineers h3 {
   padding: 2vh 0;
   font-size: 22px;
}

.section9-container .right-box .engineers h4 {
   word-spacing: 5px;
   letter-spacing: 2px;
}

.section9-container .right-box .engineers a {
   text-decoration: none;
   color: #111;
   font-weight: 600;
   border: 1px solid #878787;
   border-radius: 10px;
   padding: 1vh 1.5vh;
   margin: 6vh 0;
}

.section9-container .right-box .engineers a:hover {
   border: 1px solid rgb(192, 34, 34);
   color: rgb(192, 34, 34);
   background: rgb(234, 224, 223);
}

.section9-container img {
   width: 100%;

}

/* section9 */





















/* section10 */
#section10 .hovers {
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2vh;
   padding: 0 15vh;
   margin-top: 25vh;
}

#section10 .hovers .job {
   padding: 1.5vh;
   border: 1px solid #878787;
   border-radius: 5px;
   cursor: pointer;
   width: 30vh;
   position: relative;
   font-size: 14px;
   display: initial;
}

#section10 .hovers .job i {
   padding-left: 2vh;
}

#section10 .hovers .job:hover {
   border: rgb(192, 34, 34) 1px solid;
   background: #ffede5;
   color: rgb(192, 34, 34);
}



#section10 .hovers .future {
   border: 1px solid #878787;
   width: 60vh;
   font-size: 14px;
   padding: 2vh 0;
   visibility: hidden;
   position: absolute;
   top: 100%;
   left: 0;
   background: #fff;
   border-radius: 5px;
}

#section10 .hovers .job:hover .future {
   visibility: visible;
}

#section10 .hovers .future a {
   display: block;
   padding: 1.5vh 3vh;
   text-decoration: none;
   color: #111;
   width: 100%;
}

#section10 .hovers .future a:hover {
   background-color: #eaebff;
   color: rgb(192, 34, 34);
}

footer h4 {
   font-weight: bold;
}

#section10 a {
   text-decoration: none;
   color: #111;
}

#section10 a:hover {
   color: rgb(192, 34, 34);
   text-decoration: underline;
}

/* section10 */























/* section11 */
.section11-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 0 15vh;
   border-top: 1px solid #878787;
   margin-top: 13vh;
   padding-top: 13vh;
}

.section11-container-icons h2 {
   font-size: 40px;
}

.section11-container-icons h2 span {
   color: rgb(192, 34, 34);
}

.section11-container-icons i {
   font-size: 25px;
   margin-right: 2vh;
   color: #111;
}

.section11-container-icons i:hover {
   color: blue;
}

.section11-container-links {
   display: flex;
   gap: 10vh;
}

.section11-container-links div {
   display: flex;
   flex-direction: column;
   gap: 1vh;
   font-size: 15px;
}

.section11-container-links .same-link a {
   text-decoration: none;
   color: #111;
   font-size: 14px;
}

#section11 .section11-container-links .same-link a:hover {
   text-decoration: underline;
   color: rgb(192, 34, 34);
}

/* section11 */

















/* footer */
footer {
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 11vh 15vh;
   font-size: 13px;
}

footer a {
   color: #111;
}

footer a:hover {
   color: blue;
}

/* footer */